.lead__image {
  max-width: 984px;
  margin: 64px auto 0 auto;
  object-fit: scale-down;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    margin: 56px auto 0 auto;
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    margin: 56px auto 0 auto;
    max-width: 100%;
  }
} 

@media screen and (max-width: 767px) {
  .lead__image {
    margin: 40px auto 0 auto;
  }
} 