.place__link {
  margin: 0;
  height: max-content;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-out;
}

@media screen and (max-width: 767px) {
  .place__link {
    margin: 0 16px;
  }
} 