.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 460px));
  grid-template-rows: repeat(2, min-content);
  row-gap: 48px;
  column-gap: 40px;
  margin: 80px auto;
  max-width: 984px;
  max-height: fit-content(660px);
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 440px));
    max-width: 928px;
    column-gap: 32px;
  }
} 

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 340px));
    column-gap: 28px;
    row-gap: 48px;
    max-width: 95%;
    justify-content: center;
    margin: 73px auto;
  }
} 

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: repeat(1, minmax(min-content, 320px));
    grid-template-rows: repeat(4, min-content);
    column-gap: 28px;
    row-gap: 32px;
    max-width: 100%;
    margin: 50px auto;
  }
}